@model IEnumerable<MVC_Employee_CRUD.Models.EmpModel>

<p>
    @Html.ActionLink("Add New Employee", "AddEmployee")
</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.Empid)
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEmpDetails", new { id = item.EmpId }) |
                @Html.ActionLink("Delete", "DeleteEmp", new { id = item.EmpId }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>

    }

</table>